{% extends "base.html" %}

{% block content %}
<div class="home">
    <h1 style="margin-bottom: 20px;">Welcome to Our Flight Booking System</h1>
    
    <!-- Search Bar -->
    <form action="/search" method="get" class="search-form">
        <input type="text" name="from_city" placeholder="From" class="form-control">
        <input type="text" name="to_city" placeholder="To" class="form-control">
        <input type="date" name="departure_date" class="form-control" required>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <form action="/book" method="get" class="search-form">
        <input type="text" name="query" placeholder="Search for flights.." class="form-control">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
{% endblock %}