<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make Booking</title>
</head>
<body>
    <h1>Make Booking</h1>
    <form action="/make_booking" method="post">
        <label for="flight">Select Flight:</label><br>
        <select id="flight" name="flight">
            {% for flight in flights %}
                <option value="{{ flight.number }}">{{ flight.number }} - {{ flight.departure_airport }} to {{ flight.arrival_airport }}</option>
            {% endfor %}
        </select><br>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <input type="submit" value="Make Booking">
    </form>
</body>
</html>
